{% extends "restaurant/base.html" %} 
{% load static %}

{% block title %}
QR Code
{% endblock %}

{% block hero_area %}
<div class="hero_area" style="min-height: 0px">
</div>
{% endblock%}

{% block hero_image %}
<div class="bg-box">
  <img src="{% static 'images/hero-bg.jpg' %}" alt="" style="max-height: 88px; width: 100%; object-fit: cover; object-position: top;">
</div>
{% endblock %}

{% block nav_link_home %}
<li class="nav-item">
  <a class="nav-link" href="/restaurant/static">Home</a>
</li>
{% endblock%}

{% block nav_link_menu %}
<li class="nav-item">
  <a class="nav-link" href="/menu">Menu</a>
</li>
{% endblock%}

{% block user_link %}
<img src="{% static 'images/icons/profile.svg' %}" alt="Profile" class="" width="24" height="24">
{% endblock %}

{% block qr_link %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'accounts:qr_page' %}">
    <img src="{% static 'images/icons/qr-code.svg' %}" alt="QR" width="24" height="24">
  </a>
</li>
{% endblock %}


{% block content %}
  <section style="display:flex;flex-direction:column;align-items:center;justify-content:center;height:80vh">
    <p>Scan this QR in waiter’s app to enter order amount</p>
    <img
      src="{% url 'accounts:qr_image' signed_user_id %}"
      alt="QR для начисления бонусов"
      width="300" height="300"
    >
  </section>
{% endblock %}