{% extends "restaurant/base.html" %}
{% load static %}

{% block title %}Начисление бонусов{% endblock %}

{% block content %}
<section style="max-width: 400px; margin: 100px auto; text-align: center;">
  <h2>Нарахування бонусів для {{ user.get_full_name|default:user.email }}</h2>
  <p>Поточний баланс: <strong>{{ user.bonuses }}</strong></p>

  <form method="post">
    {% csrf_token %}
    <div style="margin-bottom: 1em;">
      {{ form.order_amount.label_tag }}<br>
      {{ form.order_amount }}
      {% if form.order_amount.errors %}
        <div style="color: red">{{ form.order_amount.errors }}</div>
      {% endif %}
    </div>
    <button type="submit" class="btn custom-signin-btn">Зарахувати бонуси</button>
  </form>
</section>
{% endblock %}
