{% extends "restaurant/base.html" %}
{% load static %}

{% block title %}Списання бонусів{% endblock %}

{% block hero_area %}
  <div class="hero_area" style="min-height: 0px"></div>
{% endblock%}

{% block nav_link_home %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
{% endblock%}

{% block nav_link_menu %}
<li class="nav-item">
  <a class="nav-link" href="/menu">Menu</a>
</li>
{% endblock%}

{% block user_link %}
<img src="{% static 'images/icons/profile-active.svg' %}" alt="Profile" class="" width="24" height="24">
{% endblock %}

{% block qr_link %}
<img src="{% static 'images/icons/qr-code.svg' %}" alt="QR Code" class="" width="24" height="24">
{% endblock %}

{% block content %}
<section style="max-width: 400px; margin: 100px auto; text-align: center;">
  <p style="font-size: 26px; font-weight: 500;">Списання бонусів для {{ user.get_full_name|default:user.email }}</p>
  <p><strong>Поточний баланс:</strong> {{ user.bonuses }}</p>

  <form method="post">
    {% csrf_token %}
    <div style="margin-bottom: 1em;">
      {{ form.bonus_amount.label_tag }}<br>
      {{ form.bonus_amount }}
      {% if form.bonus_amount.errors %}
        <div style="color: red">{{ form.bonus_amount.errors }}</div>
      {% endif %}
    </div>
    <button type="submit" class="btn custom-bonus-btn">Списати бонуси</button>
  </form>
</section>
<style>
  .custom-bonus-btn {
    background-color: #FFC300; 
    color: white; 
    font-size: 16px; 
    padding: 15px; 
    border-radius: 5px; 
    border: none; 
    width: 100%; 
    transition: background-color 0.3s ease;
  }

  .custom-bonus-btn:hover {
    background-color: #efb701; 
    color: white; 
    cursor: pointer; 
  }
</style>
{% endblock %}
