{% extends "restaurant/base.html" %} 
{% load static %}

{% block title %}
Menu
{% endblock %}

{% block hero_area %}
<div class="hero_area" style="min-height: 0px">
{% endblock%}

{% block hero_image %}
<div class="bg-box">
  <img src="{% static 'images/hero-bg.jpg' %}" alt="" style="max-height: 88px; width: 100%; object-fit: cover; object-position: top;">
</div>
{% endblock %}

{% block nav_link_home %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
{% endblock%}

{% block nav_link_menu %}
<li class="nav-item active">
  <a class="nav-link" href="/menu">Menu<span class="sr-only">(current)</span></a>
</li>
{% endblock%}

{% block user_link %}
<img src="{% static 'images/icons/profile.svg' %}" alt="Profile" class="" width="24" height="24">
{% endblock %}

{% block qr_link %}
<img src="{% static 'images/icons/qr-code.svg' %}" alt="QR Code" class="" width="24" height="24">
{% endblock %}


{% block content %}
  <!-- food section -->
  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Menu
        </h2>
      </div>

      <ul class="filters_menu">
        {% for el in categories %}
            <li data-filter=".{{ el.id }}">{{ el.name }}</li>
        {% endfor %}
      </ul>

      <div class="filters-content">
      <div class="row grid">
          {% for dish in dishes %}
        <div class="col-sm-6 col-lg-4 all {{ dish.category.id }}">
          <div class="box">
            <div>
              <div class="img-box" style="max-height: 180px;">
                <img src="{{ dish.image.url }}" alt="" style="width: 300px; height: 260px; border-radius: 8px; object-fit: cover;">
              </div>
              <div class="detail-box">
                <h5>
                  {{ dish.name }}
                </h5>
                <p>
                  {{ dish.ingredients }}
                </p>
                <div class="options">
                  <h6>
                      {{ dish.price }} грн.
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
    </div>
  </section>
  <!-- end food section -->
    </div>
{% endblock%}