{% extends "restaurant/base.html" %} 
{% load static %}

{% block title %}
QR Code
{% endblock %}

{% block hero_area %}
<div class="hero_area" style="min-height: 0px">
{% endblock%}

{% block hero_image %}
<div class="bg-box">
  <img src="{% static 'images/hero-bg.jpg' %}" alt="" style="max-height: 88px; width: 100%; object-fit: cover; object-position: top;">
</div>
{% endblock %}

{% block nav_link_home %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
{% endblock%}

{% block nav_link_menu %}
<li class="nav-item">
  <a class="nav-link" href="/menu">Menu</a>
</li>
{% endblock%}

{% block user_link %}
<img src="{% static 'images/icons/profile.svg' %}" alt="Profile" class="" width="24" height="24">
{% endblock %}

{% block qr_link %}
<img src="{% static 'images/icons/qr-code-active.svg' %}" alt="QR Code" width="24" height="24">
{% endblock %}

{% block content %}
<section style="display: flex; flex-direction:column; justify-content: center; align-items: center; height: 100vh;">
  <p>Scan QR Code and get discounts!</p>
  <img src="{% static 'images/icons/qr-code-scan.svg' %}" alt="" class="" width="600px" height="600px">
</section>
{% endblock %}