{% extends "restaurant/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Sign Up
{% endblock %}

{% block hero_area %}
    <div class="hero_area" style="min-height: 0px"></div>
{% endblock%}

{% block hero_image %}
<div class="bg-box">
  <img src="{% static 'images/hero-bg.jpg' %}" alt="" style="max-height: 88px; width: 100%; object-fit: cover; object-position: top;" class="">
</div>
{% endblock %}

{% block nav_link_home %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
{% endblock%}

{% block nav_link_menu %}
<li class="nav-item">
  <a class="nav-link" href="/menu">Menu</a>
</li>
{% endblock%}

{% block user_link %}
<img src="{% static 'images/icons/profile-active.svg' %}" alt="Profile" class="" width="24" height="24">
{% endblock %}

{% block qr_link %}
<img src="{% static 'images/icons/qr-code.svg' %}" alt="QR Code" class="" width="24" height="24">
{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3 class="text-center">Sign Up</h3>
      <form method="POST">
          {% csrf_token %}
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control" id="first_name" name="first_name" required>
        </div>
          <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" class="form-control" id="last_name" name="last_name" required>
        </div>
          <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
          <div class="form-group">
          <label for="phone_number">Phone Number</label>
          <input type="text" class="form-control" id="phone_number" name="phone_number" required>
        </div>
        <div class="form-group">
          <label for="password1">Password</label>
          <input type="password" class="form-control" id="password1" name="password1" required>
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" class="form-control" id="password2" name="password2" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block custom-signup-btn">Sign Up</button>

          {{ form.errors }}

      </form>
      <a href="{% url 'accounts:login' %}">Do you already have an account? Sign in</a>
    </div>
  </div>
</div>
{% endblock %}


{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
  <link href="css/responsive.css" rel="stylesheet" />
</head>
<body>
  <div class="hero_area" style="min-height: 0px">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="" style="max-height: 88px; width: 100%; object-fit: cover; object-position: top;" class="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/restaurant/static">
            <span>
              Sklad monet
            </span>
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item">
                <a class="nav-link" href="/restaurant/static">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/menu">Menu</a>
              </li>
            </ul>
            <div class="user_option">
              <a class="user_link" href="{% url 'accounts:profile' %}">
                <img src="images/icons/profile-active.svg" alt="Profile" class="" width="24" height="24">
              </a>
              <a class="qr_link" href="{% url 'accounts:qrcode' %}">
                <img src="images/icons/qr-code.svg" alt="QR Code" class="" width="24" height="24">
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>
  <!-- Sign Up Form -->
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h3 class="text-center">Sign Up</h3>
        <form method="POST">
            {% csrf_token %}
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" required>
          </div>
            <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" required>
          </div>
            <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
            <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" required>
          </div>
          <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" required>
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block custom-signup-btn">Sign Up</button>

            {{ form.errors }}

        </form>
        <a href="{% url 'accounts:login' %}">Do you already have an account? Sign in</a>
      </div>
    </div>
  </div>
</body>
</html> {% endcomment %}